/*
	variante neodist penscratch
	auteur b_b
*/
/* Variables */
body {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  background: none; }

.page {
  padding: 2em 0 0 0;
  background: #fff;
  width: 960px;
  max-width: 100%;
  box-shadow: none; }

.aside h2 {
  font-size: 1em; }
.aside li {
  margin: 3px 0; }
.aside .formulaire_recherche {
  border-top: none; }
  .aside .formulaire_recherche label {
    color: #999999; }
  .aside .formulaire_recherche input.text {
    border: solid 1px #ddd;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }

.header .spip_logo_site {
  font-size: 2em; }
.header .spip_logo_site a,
.header .spip_logo_site a:hover {
  font-weight: 700; }
.header .spip_logo_site a:hover {
  color: #838383; }

/* Corrections variante.css */
.page_mot .aside .menu ul li,
.page_auteur .aside .menu ul li,
.page_rubrique .aside .menu_rubriques {
  display: block; }

/* largeur maximum 1000px */
@media (max-width: 1000px) {
  .page {
    width: auto;
    max-width: none;
    padding: 1.5em;
    margin: 0; } }
/* largeur minimum 769px */
@media (min-width: 769px) {
  .wrapper {
    float: right;
    width: 72.5%; }

  .aside {
    float: left;
    width: 22.5%;
    margin-right: 5%;
    overflow: visible;
    margin-top: 0; }
    .aside div:first-child h2 {
      border-top: 0;
      padding-top: 0; }
    .aside .formulaire_recherche {
      text-align: left; }
      .aside .formulaire_recherche label {
        display: block;
        margin-bottom: 5px; }
      .aside .formulaire_recherche input.text {
        width: 60%;
        margin-left: 0; } }
